// Colors
$meddarkgray: #4f4f4f;
$nonwhite: #f8f8f8;
$hotpink: #ff007e;
$lime: #afff93;
$yeller: #ffff80;
$purple: #b266ff;
$ooaaff: #00aaff;
$oafoaf: #0af0af;
$teal: #48f1e7;
$chillblue: #8eabf5;
$lavender: #c197f5;

// 100%	FF
// 90%  E6
// 80%  CC *
// 70%  B3
// 60%  99 *
// 50%  80
// 40%  66 *
// 30%  4D
// 20%  33
// 10%  1A
// 0%   00
