@import './colors.scss';

@mixin X {
    color: $yeller;
    text-shadow: 2px 2px $lavender, 4px 4px adjust-color($lavender, $alpha: -0.4),
        6px 6px adjust-color($lavender, $alpha: -0.6), 8px 8px adjust-color($lavender, $alpha: -0.8);
}

@mixin O {
    color: $lavender;
    text-shadow: 2px 2px $yeller, 4px 4px adjust-color($yeller, $alpha: -0.4),
        6px 6px adjust-color($yeller, $alpha: -0.6), 8px 8px adjust-color($yeller, $alpha: -0.8);
}

@keyframes seizureInducer {
    0% {
        color: $lavender;
    }
    20% {
        color: $teal;
    }
    40% {
        color: black;
    }
    60% {
        color: white;
    }
    80% {
        color: transparent;
    }
    100% {
        color: $yeller;
    }
}
