@import 'styles/colors.scss';

@mixin X {
    color: $yeller;
    text-shadow: 2px 2px $lavender, 4px 4px adjust-color($lavender, $alpha: -0.2),
        6px 6px adjust-color($lavender, $alpha: -0.4), 8px 8px adjust-color($lavender, $alpha: -0.6);
}

@mixin O {
    color: $lavender;
    text-shadow: 2px 2px $yeller, 4px 4px adjust-color($yeller, $alpha: -0.2),
        6px 6px adjust-color($yeller, $alpha: -0.4), 8px 8px adjust-color($yeller, $alpha: -0.6);
}

.game-board {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    grid-gap: 1rem;
    background-color: black;

    button {
        margin: 0;
        padding: 0;
        appearance: none;
        outline: none;
        cursor: pointer;
        display: block;
        background: $teal;
        border: none;
        text-transform: uppercase;
        font-size: 20rem;
        text-align: center;
        line-height: 20rem;
        min-width: 1em;
        min-height: 1em;
        border-radius: 1rem;
        overflow: hidden;
        &.O {
            @include O;
        }
        &.X {
            @include X;
        }
    }
}

.score-board {
    color: white;

    input {
        border: dotted white;
        border-width: 0 0 5px 0;
        color: white;
        font-size: 3rem;
        appearance: none;
        background-color: black;
        border-radius: 3px;
        outline: none;
        &:focus {
            background: $oafoaf;
        }
    }
}

.app {
    text-align: center;
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h1 {
        margin: 2rem;
    }
}
