.tik-tak-toe {
    text-align: center;
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .message {
        margin: 2rem;
    }
}
